{% extends 'base.html' %}
{% load static %}

{% block head %}      
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}"> 
{% endblock%}

{% block content %}

<div class="container mt-4">
	<h2 class="d-flex justify-content-center">Create Post</h2>
  	<div class="d-flex justify-content-center">  
    <form method="post" enctype="multipart/form-data">
		{% csrf_token %}      
		{% for field in CB_form %}
			<div class="row align-items-center mb-0 mt-2">
				<div class="col">    
					{{ field.label_tag }}
					{{ field.errors }}
				</div>
				<div class="col">
					{{ field }}
				</div>
			</div>
		{% endfor %}
		<br>
		<div class="text-center">
			<button class="btn btn-primary" type="submit">Create</button>     
		</div>	                             
	</form>           
</div> 
	<br>          
</div>
{% endblock %}