{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
{% endblock %}

<!doctype html>
<html>
<body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
        <div class="container-fluid">
          {% block home %}
            {% if books %}
            <div class="container">
              <div class="row">
                <div class="col">
                  <form method="POST" action="{% url 'book:filter' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <select name="book_filter" class="custom-select">
                        <option selected value="available">Available</option>
                        <option value="True">Digital</option>
                        <option value="checkedout">Checked Out</option>
                      </select>
                      <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                          <i class="bi bi-filter"></i>
                          Filter
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col">
                  <form method="POST" action="{% url 'book:search' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <input type="search" class="form-control" name="bookSearch" placeholder="Search Book" aria-label="Search" aria-describedby="basic-addon2" value="{{ request.POST.get.bookSearch }}">                    
                      <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i> Search</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endif %}
          {% endblock %}
        </div>
      </nav>
    </div>

    <!-- Card -->
    {% block content %}
      <hr>
      <div class="container">
        {% if books %}
          <div class="row ">
            {% for book in books %}
            <div class="col md-3">
                <div class="card mb-2 mt-4" id="book-card">
                  <div class="image-wrapper">
                    <img src="{{ book.book_image.url }}" class="card-img-top">
                    {% if book.status == 'checkedout' %}
                      <p class="card-text-block" style="background-color: red;">checked out</p>
                    {% else %}
                      <p class="card-text-block">{{ book.status }}</p>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <strong><p class="card-title">{{ book.title }}</p></strong>
                      <p class="card-text text-muted">by {{ book.author }}</p>
                    </div>
                    <p class="card-text"><small class="text-muted">Added on {{ book.date_created|date:"F d, Y" }}</small></p>
                    <!-- <p class="card-text text-muted h6">{{ book.author }} | {{ book.date_created}} </p> -->
                    <div class="row d-flex" style="gap: 4px;">
                      <button type="button" class="btn btn-outline-primary btn-sm flex-grow-1" data-toggle="modal" data-target="#book{{ book.pk }}">
                        <i class="bi bi-chat"></i> Comments
                      </button>
                      {% if book.owner != user and book.status == 'available' %}
                      <button type="button" class="btn btn-success btn-sm flex-grow-1" data-toggle="modal" data-target="#checkoutbook{{ book.pk }}">
                        <i class="bi bi-book"></i> Rent Now
                      </button>
                      {% endif %}
                    </div>

                    <!-- Checkout -->
                    <div class="modal fade bd-example-modal-sm" id="checkoutbook{{ book.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" >Checkout Book</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Do you want to checkout <b>{{ book.title }}</b>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form method="post" action="{% url 'book:checkout' book.pk %}">  
                              {%csrf_token%}                                              
                              <button type="submit" class="btn btn-danger">Checkout Book</button>
                            </form> 
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Comment -->
                    <div class="modal fade" id="book{{ book.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form method="post" action="{% url 'book:add_comment' book.pk %}">
                            <div class="modal-body">
                              {% csrf_token %}
                              <div class="text-center">
                                <b>{{ book.title }}</b>
                                <p>Published by: {{ book.author }}</p>
                              </div>
                              <div class="form-group">
                                <select multiple class="form-control" id="commentsection">
                                  {% for comment in comments %}
                                    {% if comment.book == book %}
                                      <option disabled>
                                        <b>{{ comment.user.get_full_name }}</b>: {{ comment }}
                                      </option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="form-group p-3">
                              {% for field in CC_form %}
                              <div class="input-group mb-3">
                                {{ field }}
                                <div class="input-group-append">
                                  <button class="btn btn-info" type="submit" id="button-addon2">Add Comment</button>
                                </div>
                              </div>
                              {% endfor %}
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">No books available!</h4>
            <p>There are currently no books in the library.</p>
            <hr>
            <p class="mb-0">Visit your <a href="{% url 'book:owned_books' user.id %}" class="alert-link">owned books page</a> to add a new book to the library.</p>
          </div>
        {% endif %}
      </div>
    {% endblock%}
</body>
</html>